<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a {
            width: 4rem;
            height: 2rem;
            text-decoration: none;
            background-color: #3fc4ff;
            position: absolute;
            top: 2rem;
            right: 1rem;
            border-radius: 5px;
            color: grey;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a:visited {
            color: inherit;
        }
    </style>
    
</head>
<body>

    <a href="{{ url_for('performance') }}">Home</a>
    <div class='tableauPlaceholder' id='viz1661503997352' style='position: relative'><noscript><a href='#'><img
                    alt='Correlation Analysis '
                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;SI&#47;SIH2022-Correlation&#47;CorrelationAnalysis&#47;1_rss.png'
                    style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='SIH2022-Correlation&#47;CorrelationAnalysis' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;SI&#47;SIH2022-Correlation&#47;CorrelationAnalysis&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
            <param name='filter' value='publish=yes' />
        </object></div>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1661503997352');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width = '1016px';
        vizElement.style.height = '991px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
</body>
</html>

