{% extends "officer/base.html" %}

{% block files %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/performance.css') }}">
    <script defer src="{{ url_for('static', filename='scripts/officer/student_graph.js') }}"></script>
    <script defer src="{{ url_for('static', filename='scripts/officer/performance.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main1.css') }}">
{% endblock %}


{% block content %}

    <div class="content">
        <input type="text" name="school" id="school-search" class="school-search" placeholder="Search Student">

        <div class="card" id="total">
            <span class="num">50</span>
            <span class="title">Total Students</span>
        </div>
        <div class="card" id="underweight">
            <span class="num">12</span>
            <span class="title">Underweight Students</span>
        </div>
        <div class="card" id="overweight">
            <span class="num">2</span>
            <span class="title">Overweight Students</span>
        </div>
    </div>

    <div class="graph">

        <div id="boys">
        </div>

        <div id="girls">
        </div>
    </div>



{% endblock %}