<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM Poshan</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">
    <script src="{{url_for('static', filename='scripts/home/home.js')}}" defer></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head> 
<body>
    <div class = "navbar">
        <div>
            <img src = "{{ url_for('static', filename='assets/pmposhan.png') }}" height="45rem">
            <img src = "{{ url_for('static', filename='assets/govlion.png') }}" height="45rem">
            <img src = "{{ url_for('static', filename='assets/digitalindia.png') }}" height="45rem">
        </div>
        <div>
            <div id="google_translate_element" style="margin:1em;"></div>
        </div>
    </div>

    <marquee scrollamount="7">The Cabinet Committee on Economic Affairs (CCEA) chaired by Prime Minister Narendra Modi on September 29, 2021, approved a new meal scheme known as 'Pradhan Mantri Poshan Shakti Nirman' scheme (PM Poshan Scheme) for government and government-aided schools for the next five years (from 2021-22 to 2025-26) with the financial outlay of Rs 1.31 trillion, and the existing 'Mid Day Meal' scheme will also be included in this programme. The central government will bear an additional cost of nearly Rs 45,000 crore on providing subsidised foodgrains from the food ministry over the years amounting to a total outlay of Rs 1.31 trillion. During 2020-21, the Centre invested more than Rs 24,400 crore in the scheme, including nearly Rs 11,500 crore on foodgrains.
    </marquee>

    <img src = "{{ url_for('static', filename='assets/thumb.jpg') }}" width="100%">

    <div class = "dashbar1">
        <h1 style="color: rgb(255, 123, 0);">Pradhan Mantri Poshan Shakti Nirman (PM POSHAN)</h1>
    </div>

    <div class = "dashbar2">
        <div class = "loginfield">
            <h3>Sign in to your account</h3>
            <br>
        
            <select style="width: 12rem; border-radius:0.5rem; border-width: 1px; height: 1.2rem;" id="dashselect">
                <option value="0">School</option>
                <option value="1">District Officer</option>
                <option value="2">Student</option>
                <option value="3">National Officer</option>
            </select>
            
            <br><br>
            <label>Username:</label>
            <input id = "email" type = "email" placeholder="abc@gmail.com" style="border-radius:0.5rem; border-width: 1px; height: 1.2rem;"><br><br>

            <label>Password:</label>
            <input id = "password" type = "password" placeholder="password" style="border-radius:0.5rem; border-width: 1px; height: 1.2rem;">

            <br><br>
            <button class="loginbtn" id="loginbtn">Login</button>
            <button class="loginbtn" id="forgotpwdbtn">Forgot Password</button>
        </div>
    </div>  
    
    <br><br>

    <div style="text-align: center;">
    <button class = "loginbtn" onclick="window.open('/embed')">View Reports</button>
    </div>

    <div class="dash_footer">
        <p>Designed and Developed by Random Variables. Website content is provided by the Department of Elementary Education (Phone: XXXXX-XXXXX Email : xxxxxxxxxxxx). The content on site is informative and neither the Department nor the NIC is responsible for any in-advertent errors. <br> © 2022 National Informatics Centre</p>
    </div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'hi,ta,te,kn,en,ml,mr,bn,gu', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
    </script>
    
</body>
</html>