*{
    margin: 0;
}

.navbar{
    height: 3rem;
    background-color: #3fc4ff;
    padding: 0.5rem 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    grid-column: 1/3;
}

.loginbtn{
    margin-top: 0.3rem;
    background-color: #07a8f6;
    border-radius: 0.7rem;
    border-style: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.dashbar1{
    display: flex;
    justify-content: space-evenly;
}

.blue_button{
    margin: 0rem 1rem 2rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform:capitalize;
    font-weight: bold;
    font-size: 1.5rem;
    width: 35rem;
    height: 10rem;
    background-color: #058ed2;
    box-shadow: 0 3px 5px 1px grey;
    cursor: pointer;
    padding: 1rem .3rem;
    color: white;
    border-style: none;
    border-radius: 2rem;
}

.blue_button:hover{
    transform: translateY(2px);
    box-shadow: 0 1px 15px 1px grey;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.dashbar2{
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dash_footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #07a8f6;
    text-align: center;
    padding: 1rem 0rem;
    color: white;
}