<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM Poshan</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">

</head> 
<body>
    <div class = "navbar">
        <div>
            <img src = "{{ url_for('static', filename='assets/pmposhan.png') }}" height="45rem">
            <img src = "{{ url_for('static', filename='assets/govlion.png') }}" height="45rem">
            <img src = "{{ url_for('static', filename='assets/digitalindia.png') }}" height="45rem">
        </div>

        <div>
            <button class = "loginbtn">Logout</button>
        </div>
    </div>
    <div style="text-align:center; margin:10rem 0 12rem;">
        <h1>Register Student</h1><br>
        <form action = "/reg_student" method = "post" target="_self">

            <label for="aadharno">Aadhar Number:</label>
            <input type = "number" id = "aadharno" name = "aadharno" min="100000000000">
            
            <br>
            <label for="adminno">Admission Number:</label>
            <input type = "number" id = "adminno" name = "adminno" required min="1000">
            
            <br>
            <label for = "sname">Student Name:</label>
            <input type = "text" id = "sname" name = "sname" required>

            <br>
            <label for = "sgender">Student Sex:</label>
            <select id = "sgender" name = "sgender" required>
                <option>M</option>
                <option>F</option>
                <option>Others</option>
            </select>
            
            <br>
            <label for = "sblood">Student Blood Group:</label>
            <input type = "text" id = "sblood" name = "sblood">

            <br>
            <label for = "sbdate">Birth Date:</label>
            <input type = "date" id = "sbdate" name = "sbdate" required>

            <br>
            <label for = "pname">Parent/Guardian Name:</label>
            <input type = "text" id = "pname" name = "pname" required>

            <br>
            <label for = "sclass">Student Class:</label>
            <input type = "number" id = "sclass" name = "sclass" required min = "1">
            
            <br>
            <label for="sheight">Student Height:</label>
            <input name = "sheight" id = "sheight" type = "number" required min="5"> 

            <br>
            <label for="sweight">Student Weight:</label>
            <input name ="sweight" id = "sweight" type = "number" required min="5">
    
            <br><br>
            <button type="reset" class="loginbtn">Reset All Fields</button>
            <button type="submit" class="loginbtn">Submit</button>
        </form>
    </div>
    <div class="dash_footer">
        <p>Designed and Developed by Random Variables. Website content is provided by the Department of Elementary Education (Phone: XXXXX-XXXXX Email : xxxxxxxxxxxx). The content on site is informative and neither the Department nor the NIC is responsible for any in-advertent errors. <br> © 2022 National Informatics Centre</p>
    </div>
</body>
</html>