<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM Poshan</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">
    <script src="{{url_for('static', filename='scripts/school/upload_hdata.js')}}" defer></script>

    <style>
        #menutable {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 60%;
        }
        
        #menutable td, #menutable th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        
        #menutable tr:nth-child(even){background-color: #f2f2f2;}
        
        #menutable tr:hover {background-color: #ddd;}
        
        #menutable th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #07a8f6;
          color: white;
        }
        </style>

</head> 
<body>
    <div class = "navbar">
        <div>
            <img src = "{{ url_for('static', filename='assets/pmposhan.png') }}" height="45rem">
            <img src = "{{ url_for('static', filename='assets/govlion.png') }}" height="45rem">
            <img src = "{{ url_for('static', filename='assets/digitalindia.png') }}" height="45rem">
        </div>

        <div>
            <button class = "loginbtn">Logout</button>
        </div>
    </div>
    <marquee>Body mass index is a value derived from the mass and height of a person. The BMI is defined as the body mass divided by the square of the body height, and is expressed in units of kg/m², resulting from mass in kilograms and height in metres.</marquee>
    
    <div class="uploadhdata" style="text-align: center;">
        <h1>Upload Health Data</h1><br><br>
        <form action="/upload_hdata" method="post" target="_self"  style="text-align: center;">

            <label for="selectclass">Choose class:</label>
            <select class="selectclass" id = "selectclass">
                <option disabled selected value> </option>
                <option value = 1>Class 1</option>
                <option value = 2>Class 2</option>
                <option value = 3>Class 3</option>
                <option value = 4>Class 4</option>
                <option value = 5>Class 5</option>
                <option value = 6>Class 6</option>
                <option value = 7>Class 7</option>
                <option value = 8>Class 8</option>
            </select>

            <br><br>
            <div style="text-align: center;">
            <table class="menutable" id="menutable" style=" margin-left: auto;margin-right: auto;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Height</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type = "text" id = "sname1" name = "sname1" required>
                        </td>

                        <td>
                            <input name = "sheight1" id = "sheight1" type = "number" required min="5"> 
                        </td>

                        <td>
                            <input name ="sweight1" id = "sweight1" type = "number" required min="5">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type = "text" id = "sname2" name = "sname2" required>
                        </td>

                        <td>
                            <input name = "sheight2" id = "sheight2" type = "number" required min="5"> 
                        </td>

                        <td>
                            <input name ="sweight2" id = "sweight2" type = "number" required min="5">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type = "text" id = "sname3" name = "sname3" required>
                        </td>

                        <td>
                            <input name = "sheight3" id = "sheight3" type = "number" required min="5"> 
                        </td>

                        <td>
                            <input name ="sweight3" id = "sweight3" type = "number" required min="5">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type = "text" id = "sname4" name = "sname4" required>
                        </td>

                        <td>
                            <input name = "sheight4" id = "sheight4" type = "number" required min="5"> 
                        </td>

                        <td>
                            <input name ="sweight4" id = "sweight4" type = "number" required min="5">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type = "text" id = "sname5" name = "sname5" required>
                        </td>

                        <td>
                            <input name = "sheight5" id = "sheight5" type = "number" required min="5"> 
                        </td>

                        <td>
                            <input name ="sweight5" id = "sweight5" type = "number" required min="5">
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <br><br>
            <button type="reset" class="loginbtn">Reset All Fields</button>
            <button type="submit" class="loginbtn">Submit</button>
        </form>
    </div>
</body>
</html>