<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM Poshan</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">

</head> 
<body>
    <div class = "navbar">
        <div>
            <img src = "{{ url_for('static', filename='assets/pmposhan.png') }}" height="45rem">
            <img src = "{{ url_for('static', filename='assets/govlion.png') }}" height="45rem">
            <img src = "{{ url_for('static', filename='assets/digitalindia.png') }}" height="45rem">
        </div>

        <div>
            <button class = "loginbtn">Logout</button>
        </div>
    </div>

    <div style="text-align: center; margin-top:15rem;">
    <h1>Menu Uploaded Successfully!</h1>

    <a href = "/school_dash">
        <button class="loginbtn">Back To DashBoard</button>
    </a>
    </div>

</body>
</html>